<div class="program">
  <div class="container py-4">
    <h3 class="page-title text-uppercase font-weight-bold my-5 pl-3">
      Program
    </h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="the-voice-card position-relative my-3">
          <div class="arrow-up-left position-absolute">
            <img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found!"
            />
          </div>
          <div class="tv-icon-right-up position-absolute">
            <img src="./assets/icons/iconTV.jpg" alt="Image not found!" />
          </div>
          <a href="#" class="card-image"
            ><img
              class="w-100"
              src="./assets/images/we%20love%20music.jpg"
              alt="Image not found!"
          /></a>
          <div class="bottom-left-title position-absolute">
            <p class="m-0 text-uppercase font-weight-bold">We love music</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="the-voice-card position-relative my-3">
          <div class="arrow-up-left position-absolute">
            <img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found!"
            />
          </div>
          <div class="tv-icon-right-up position-absolute">
            <img src="./assets/icons/iconTV.jpg" alt="Image not found!" />
          </div>
          <a href="#" class="card-image"
            ><img
              class="w-100"
              src="./assets/images/planet%20voice.jpg"
              alt="Image not found!"
          /></a>
          <div class="bottom-left-title position-absolute">
            <p class="m-0 text-uppercase font-weight-bold">Planet Voice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
