@import '../../../../../styles';

.page-title {
  border-left: to-rem(20px) solid color('dark-red');

  @include media-breakpoint-down(md) {
    font-size: to-rem(20px);
    border-left: to-rem(14px) solid color('dark-red');
  }
}
