<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="page-title text-uppercase my-5 pl-3 font-weight-bold">News</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card-container position-relative my-2">
        <div class="arrow-up-left position-absolute">
          <a href="#"
            ><img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found"
          /></a>
        </div>
        <a href="#"
          ><img
            class="card-image w-100"
            src="https://thevoice.bg/resize/-/400/var/news/image_8c70228e07dcbebff67f.jpg"
            alt="Image not found"
        /></a>
        <div class="bottom-left-title position-absolute">
          <div class="bottom-right-line position-absolute"></div>
          <a href="#">ALMA ПРЕДСТАВЯ "FAR FARAWAY"</a>
          <div class="bottom-left-date">05/03/2021</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-container position-relative my-2">
        <div class="arrow-up-left position-absolute">
          <a href="#"
            ><img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found"
          /></a>
        </div>
        <a href="#"
          ><img
            class="card-image w-100"
            src="https://thevoice.bg/resize/-/400/var/news/image_8c70228e07dcbebff67f.jpg"
            alt="Image not found"
        /></a>
        <div class="bottom-left-title position-absolute">
          <div class="bottom-right-line position-absolute"></div>
          <a href="#">ALMA ПРЕДСТАВЯ "FAR FARAWAY"</a>
          <div class="bottom-left-date">05/03/2021</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-container position-relative my-2">
        <div class="arrow-up-left position-absolute">
          <a href="#"
            ><img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found"
          /></a>
        </div>
        <a href="#"
          ><img
            class="card-image w-100"
            src="https://thevoice.bg/resize/-/400/var/news/image_8c70228e07dcbebff67f.jpg"
            alt="Image not found"
        /></a>
        <div class="bottom-left-title position-absolute">
          <div class="bottom-right-line position-absolute"></div>
          <a href="#">ALMA ПРЕДСТАВЯ "FAR FARAWAY"</a>
          <div class="bottom-left-date">05/03/2021</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-container position-relative my-2">
        <div class="arrow-up-left position-absolute">
          <a href="#"
            ><img
              class="w-100"
              src="./assets/icons/arrowBig.jpg"
              alt="Image not found"
          /></a>
        </div>
        <a href="#"
          ><img
            class="card-image w-100"
            src="https://thevoice.bg/resize/-/400/var/news/image_8c70228e07dcbebff67f.jpg"
            alt="Image not found"
        /></a>
        <div class="bottom-left-title position-absolute">
          <div class="bottom-right-line position-absolute"></div>
          <a href="#" class="text-decoration-none"
            >ALMA ПРЕДСТАВЯ "FAR FARAWAY"</a
          >
          <div class="bottom-left-date">05/03/2021</div>
        </div>
      </div>
    </div>
  </div>
</div>
