@import '../../../../../../styles';

footer {
  background-color: color('black');
  color: color('white');

  @include media-breakpoint-up(md) {
    font-size: to-rem(16px);
  }

  .footer-top-left-image {
    width: to-rem(140px);

    @include media-breakpoint-up(md) {
      width: to-rem(168px);
    }
  }

  .footer-bottom-right-image {
    width: to-rem(140px);

    @include media-breakpoint-up(md) {
      width: to-rem(112px);
    }
  }

  a {
    color: color('white');
  }
}
