// Font size
$font-size: 14px;

// Colors
$white: #fff;
$white-blue: #efefef;
$red: red;
$dark-red: #a9102a;
$black: #000000;

$colors: (
  'white': $white,
  'white-blue': $white-blue,
  'red': $red,
  'dark-red': $dark-red,
  'black': $black,
);
