<div class="video">
  <div class="container pt-4">
    <h3 class="page-title text-uppercase font-weight-bold my-5 pl-3">Video</h3>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="arrow-up-left position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/arrowBig.jpg"
            alt="Image not found!"
          />
        </div>
        <div class="icon-youtube-up-right position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/iconYouTube.jpg"
            alt="Image not found!"
          />
        </div>
        <a href="#">
          <img
            class="w-100"
            src="https://thevoice.bg/images/kSkqtmYUhK8/hqdefault.jpg"
            alt="Image not found!"
          />
        </a>
        <div class="bottom-left-video-title position-absolute">
          <h6 class="m-0">
            <a
              class="text-decoration-none text-uppercase"
              href="https://thevoice.bg/videos/antonia-x-toto-h-typhoon-v3197.html"
              >ANTONIA X TOTO H - TYPHOON</a
            >
          </h6>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="arrow-up-left position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/arrowBig.jpg"
            alt="Image not found!"
          />
        </div>
        <div class="icon-youtube-up-right position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/iconYouTube.jpg"
            alt="Image not found!"
          />
        </div>
        <a href="#">
          <img
            class="w-100"
            src="https://thevoice.bg/images/kSkqtmYUhK8/hqdefault.jpg"
            alt="Image not found!"
          />
        </a>
        <div class="bottom-left-video-title position-absolute">
          <h6 class="m-0">
            <a
              class="text-decoration-none text-uppercase"
              href="https://thevoice.bg/videos/antonia-x-toto-h-typhoon-v3197.html"
              >ANTONIA X TOTO H - TYPHOON</a
            >
          </h6>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="arrow-up-left position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/arrowBig.jpg"
            alt="Image not found!"
          />
        </div>
        <div class="icon-youtube-up-right position-absolute">
          <img
            class="img-fluid"
            src="./assets/icons/iconYouTube.jpg"
            alt="Image not found!"
          />
        </div>
        <a href="#">
          <img
            class="w-100"
            src="https://thevoice.bg/images/kSkqtmYUhK8/hqdefault.jpg"
            alt="Image not found!"
          />
        </a>
        <div class="bottom-left-video-title position-absolute">
          <h6 class="m-0">
            <a
              class="text-decoration-none text-uppercase"
              href="https://thevoice.bg/videos/antonia-x-toto-h-typhoon-v3197.html"
              >ANTONIA X TOTO H - TYPHOON</a
            >
          </h6>
        </div>
      </div>
    </div>
    <h3 class="text-right m-0 pb-3">
      <a
        class="all-videos text-decoration-none text-uppercase font-weight-bold"
        routerLink="/videos"
        >All Videos<img
          class="pl-2"
          src="./assets/icons/arrowBig.jpg"
          alt="Image not found!"
      /></a>
    </h3>
  </div>
</div>
